# Wave 7: Headlamp (multi-cluster Kubernetes dashboard, after kube-oidc-proxy)
{{- if .Values.gitops.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headlamp
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "7"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ .Values.gitops.repoURL }}
    targetRevision: {{ .Values.gitops.targetRevision }}
    path: helm/headlamp
    helm:
      valueFiles:
        - ../ports.yaml
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: headlamp
  ignoreDifferences:
    - group: cilium.io
      kind: CiliumNetworkPolicy
      jsonPointers:
        - /spec
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      jsonPointers:
        - /spec/parentRefs
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
{{- end }}
