# Wave 4: Demo app - OWASP Juice Shop
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: juice-shop
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ .Values.gitops.repoURL }}
    targetRevision: {{ .Values.gitops.targetRevision }}
    path: helm/juice-shop
    helm:
      valueFiles:
        - ../ports.yaml
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: juice-shop
  ignoreDifferences:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      jsonPointers:
        - /spec/parentRefs
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
