# Wave 4: Identity - Keycloak OIDC/SSO Provider (after VSO for VaultStaticSecret CRDs)
{{- if .Values.gitops.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keycloak
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ .Values.gitops.repoURL }}
    targetRevision: {{ .Values.gitops.targetRevision }}
    path: helm/keycloak
    helm:
      valueFiles:
        - ../ports.yaml
        - values.yaml
        - values-keycloak.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: keycloak
  ignoreDifferences:
    - group: cilium.io
      kind: CiliumNetworkPolicy
      jsonPointers:
        - /spec
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      jsonPointers:
        - /spec/parentRefs
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: -1
      backoff:
        duration: 30s
        factor: 2
        maxDuration: 5m
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
{{- end }}
