apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: kube-oidc-proxy
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: {{ .Values.gateway.name }}
      namespace: {{ .Values.gateway.namespace }}
      sectionName: https
  hostnames:
    - k8s-api.localhost
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: kube-oidc-proxy
          port: {{ .Values.service.port }}
