apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  labels:
    # Enable trust-manager CA bundle distribution
    trust-manager.io/ca-bundle: "true"
