apiVersion: v1
kind: Service
metadata:
  name: kube-oidc-proxy
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: kube-oidc-proxy
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: https
      protocol: TCP
      name: https
  selector:
    app.kubernetes.io/name: kube-oidc-proxy
