{{- if .Capabilities.APIVersions.Has "secrets.hashicorp.com/v1beta1" }}
# VaultStaticSecret for OIDC client secret
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: kube-oidc-proxy-config
  namespace: {{ .Release.Namespace }}
spec:
  type: kv-v2
  mount: secret
  path: keycloak/oidc-clients
  destination:
    name: kube-oidc-proxy-config
    create: true
    labels:
      app.kubernetes.io/name: kube-oidc-proxy
    transformation:
      excludeRaw: true
      templates:
        client-secret:
          text: '{{ `{{ index .Secrets "headlamp-client-secret" }}` }}'
  refreshAfter: 1h
  vaultAuthRef: vault-secrets-operator/transit-vault-auth
{{- end }}
