vault-secrets-operator:
  # Default Vault connection configuration
  defaultVaultConnection:
    enabled: true
    address: "http://vault.vault.svc.cluster.local:8200"
    skipTLSVerify: false

  # Default auth method configuration
  defaultAuthMethod:
    enabled: true
    method: kubernetes
    mount: kubernetes
    kubernetes:
      role: vault-secrets-operator
      serviceAccount: vault-secrets-operator-controller-manager
      tokenAudiences: []

  controller:
    replicas: 1
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
