traefik:
  hostNetwork: true
  additionalArguments:
    - "--api.insecure=true"
  ports:
    web:
      port: 80
      hostPort: null
    websecure:
      port: 443
      hostPort: null
    traefik:
      expose:
        default: true
  nodeSelector:
    ingress-ready: "true"
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Equal
      effect: NoSchedule
  providers:
    kubernetesGateway:
      enabled: true
  gateway:
    enabled: false
  deployment:
    strategy:
      type: Recreate
  logs:
    general:
      level: DEBUG

gateway:
  name: traefik-gateway
  className: traefik
  controllerName: traefik.io/gateway-controller
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      tls:
        mode: Terminate
        certificateRefs:
          - name: gateway-tls
      allowedRoutes:
        namespaces:
          from: All

certificates:
  - name: gateway-tls
    secretName: gateway-tls
    issuerRef:
      name: selfsigned
      kind: ClusterIssuer
    dnsNames:
      - "*.localhost"

httpRoutes:
  - name: traefik-dashboard
    hostnames:
      - traefik.localhost
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - name: traefik
            port: 8080
