traefik:
  hostNetwork: true
  additionalArguments:
    - "--api.insecure=true"
  ports:
    web:
      port: 80
      hostPort: null
    websecure:
      port: 443
      hostPort: null
    traefik:
      expose:
        default: true
  nodeSelector:
    ingress-ready: "true"
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Equal
      effect: NoSchedule
  providers:
    kubernetesGateway:
      enabled: true
  gateway:
    enabled: false
  deployment:
    strategy:
      type: Recreate
  logs:
    general:
      level: DEBUG
