cilium:
  encryption:
    enabled: true
    type: wireguard
  kubeProxyReplacement: true
  hostPort:
    enabled: true
  socketLB:
    hostNamespaceOnly: true
  operator:
    replicas: 1
    prometheus:
      enabled: true
      port: 9963
      serviceMonitor:
        enabled: true
  prometheus:
    enabled: true
    port: 9962
    serviceMonitor:
      enabled: true
  gatewayAPI:
    enabled: true
    hostNetwork:
      enabled: true
    gatewayClass:
      create: "false"
  envoy:
    securityContext:
      capabilities:
        keepCapNetBindService: true
    prometheus:
      enabled: true
  hubble:
    enabled: true
    relay:
      enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
    ui:
      enabled: true
    metrics:
      enabled:
        - dns:query
        - drop
        - tcp
        - flow
        - port-distribution
        - icmp
        - httpV2:exemplars=true;labelsContext=source_ip,source_namespace,source_workload,destination_ip,destination_namespace,destination_workload,traffic_direction
      enableOpenMetrics: true
      serviceMonitor:
        enabled: true
