cilium:
  encryption:
    enabled: true
    type: wireguard
  hostPort:
    enabled: true
  socketLB:
    hostNamespaceOnly: true
  operator:
    replicas: 1
  gatewayAPI:
    enabled: true
  nodePort:
    enabled: true
