cilium:
  encryption:
    enabled: true
    type: wireguard
  kubeProxyReplacement: true
  hostPort:
    enabled: true
  socketLB:
    hostNamespaceOnly: true
  operator:
    replicas: 1
  gatewayAPI:
    enabled: true
    hostNetwork:
      enabled: true
    gatewayClass:
      create: "false"
  envoy:
    securityContext:
      capabilities:
        keepCapNetBindService: true
  hubble:
    enabled: true
    relay:
      enabled: true
    ui:
      enabled: true
