apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-echo
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: http-echo
  template:
    metadata:
      labels:
        app: http-echo
    spec:
      containers:
        - name: http-echo
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          args:
            - -text={{ .Values.text }}
          ports:
            - containerPort: {{ .Values.port }}
