argo-cd:
  dex:
    enabled: false
  notifications:
    enabled: false
  applicationSet:
    enabled: false
  configs:
    params:
      server.insecure: true
    secret:
      createSecret: false

httpRoutes:
  - name: argocd-server
    parentRefs:
      - name: traefik-gateway
        namespace: traefik
    hostnames:
      - argocd.localhost
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - name: argocd-server
            port: 80

sealedSecrets: []
