# Kubeconfig for Headlamp to connect to kube-oidc-proxy
# This is needed because Go's client-go ignores SSL_CERT_FILE and uses
# the ServiceAccount CA which doesn't include our internal CA
apiVersion: v1
kind: ConfigMap
metadata:
  name: headlamp-kubeconfig
  namespace: {{ .Release.Namespace }}
data:
  kubeconfig: |
    apiVersion: v1
    kind: Config
    clusters:
    - name: main
      cluster:
        server: https://kube-oidc-proxy.kube-oidc-proxy.svc:443
        # CA will be loaded from the mounted CA bundle file
        certificate-authority: /etc/headlamp/certs/ca.crt
    contexts:
    - name: main
      context:
        cluster: main
        user: headlamp
    current-context: main
    users:
    - name: headlamp
      user:
        # Use the ServiceAccount token (mounted by Kubernetes)
        tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
